# Hi, this is a pynb file 
## This pynb file is based from Winter Genomics Python course
### This is markdown text
+ This is more text
 + And more text

Un bloque también es llamado celda o cell.
+ Hay dos tipos:
 + Code
 + Markdown

### Using print
print is for show basic messages

In [10]:
print("Hello world, this is Josh")

Hello world, this is Josh

In [11]:
print("We are using Jupyter Notebook")

We are using Jupyter Notebook

## Datos y Variables
Similar a R. 

Los tipos de datos en Python son:
+ Numéricos 
 + Enteros (Integers): 34, 43, -12
 + Reales/Flotantes (floatings): 34.123
 + Otros: 
   + Binarios (prefijo 0b) 
   + hexadecimales (prefijo 0x) 
   + octales (prefijo 0o)
+ Alfanuméricos (Caracteres, cadenas/strings)

In [37]:
# DATOS NUMÉRICOS ENTEROS (INTEGERS)
entero = 34
entero_negativo = -12

In [36]:
# mostrar valor almacenado en variable
print(entero)

34

In [35]:
# tipo de dato almacenado en una variable
type(entero)

int

In [34]:
# imprimir tipo de dato almacenado y también valor almacenado
print(type(entero), entero)

<class 'int'> 34

In [38]:
# DATOS NUMÉRICOS FLOTANTES O REALES (SIMPLEMENTE LLEVAN DECIMALES)
flotante = 4.123

In [41]:
# mostrar valor almacenado en variable
print(flotante)

4.123

In [43]:
# mostrar tipo de dato almacenado en variable
type(flotante)

float

In [44]:
# imprimir tipo de dato almacenado y también valor almacenado
print(type(flotante), flotante)

<class 'float'> 4.123

In [45]:
# NÚMEROS BINARIOS
bin(1994)

'0b11111001010'

In [46]:
# NÚMEROS HEXADECIMALES
hex(1994)

'0x7ca'

In [48]:
# NÚMEROS OCTALES
oct(1994)

'0o3712'

In [49]:
# VARIABLES CON CARACTERES
cadena = "Hola cracks, aqui Josh_777"

In [50]:
# Ver tipo de dato almacenado
type(cadena)

str

In [52]:
# imprimir tipo de dato almacenado y también valor almacenado
print(type(cadena), cadena)

<class 'str'> Hola cracks, aqui Josh_777

In [59]:
# COMILLA SIMPLE DENTRO DE UN TEXTO EN VARIABLE
cadena_2 = "Darwin's club"
cadena_2

"Darwin's club"

In [62]:
# CONCATENAR / UNIR CADENAS
"I " + "LOVE " + "PYTHON"

'I LOVE PYTHON'

In [ ]:
# CONCATENAR CADENAS USANDO VARIABLES

In [3]:
seq = "AGCT"
seq2 = "TCGA"

In [4]:
seq

'AGCT'

In [5]:
seq2

'TCGA'

In [7]:
seq + seq2

'AGCTTCGA'

## Indexar datos en Python
Indexar es referenciar cada elemento de un objeto al asignarle un número o un índice.


### Rebanado de datos (Slicing)
Consiste en tomar solo algunos de los elementos de un objeto.
+ En Python se cuenta desde 0.

In [53]:
# MOSTRANDO EL ELEMENTO INDEXADO

In [10]:
otra_cadena = "winter"

In [16]:
print("el elemento indexado como 0 'winter' es:", otra_cadena[0], ".")

el elemento indexado como 0 'winter' es: w .

In [25]:
print("el último elemento de 'winter' es:", otra_cadena[-1], ".") # también se puede cambiar a [5]

el último elemento de 'winter' es: r .

In [26]:
# REBANADO DE ELEMENTOS
# TOMAMOS LOS ELEMENTOS DEL 1 AL 3 DE LA PALABRA WINTER (sin tomar en cuenta el elemento 0)

In [54]:
print("Aquí estoy tomando los elementos 1, 2, y 3 de 'winter', es decir: ", otra_cadena[3:6])

Aquí estoy tomando los elementos 1, 2, y 3 de 'winter', es decir:  ter

In [55]:
# FORMATO EN CADENAS
# HACE REFERENCIA A CUANDO SE DESEA CONSTRUIR UNA FRASE UTILIZANDO ALGUNA VARIABLE EXISTENTE

In [46]:
ace_grav = 9.764
print(f"la aceleración de la gravedad en la tierra es de {ace_grav} en m/s²")

la aceleración de la gravedad en la tierra es de 9.764 en m/s²

## Funciones para strings

In [69]:
# usando find

In [60]:
otra_cadena2 = "Me gusta programar en Python"

In [67]:
# El output de esto arrojará una posición
otra_cadena2.find("Python")

22

In [68]:
# Usando count

In [72]:
# cuenta los elementos que se buscan
otra_cadena2.count("a")

3

In [73]:
# Usando replace

In [79]:
otra_cadena2.replace("Python", "R")

'Me gusta programar en R'

## Datos lógicos (Booleanos)

In [ ]:
# Datos lógicos

In [76]:
booleano_t = True

In [78]:
# imprimir tipo de dato almacenado y contenido de la variable
print(type(booleano_t), booleano_t)

<class 'bool'> True

# Estructuras de datos
Colección de datos que se caracterizan por su organiziación y las operaciones que se pueden llevar a cabo en estos.

Tipos:
+ Listas
+ Diccionarios
+ Datasets
+ Sets
+ Tuplas

## Listas
Características:
+ Ordenadas
+ Contienen diferentes tipos de datos y estructuras de datos
+ Se puede acceder a sus elementos por indexado
+ Son mutables (elementos pueden cambiar)

In [81]:
# nombre_lista = [<elemento1>, <elemento2>, <elemento3>..., <elementon>]

In [87]:
# creando una lista
numeros = [1,2,3,4,5,6,7,8,9,10]
letras = ["A", "C", "G", "T"]
cadena = ["Adenina", "Citosina", "Guanina", "Timina"]
mix = [1, "uno", 2, "dos", 3, "tres", [True, False]]
bacterias = ['S. pyogenes', 'H.influenzae', 'S. pneumoniae', 'N. gonorrhoeae', 'N. meningitidis', '. pallidum', 'L. acidophilus','S. mutans']

In [58]:
# tipo de objeto
type(numeros)
type(letras)
type(cadena)
type(mix)
type(bacterias)

list

### MANIPULANDO LISTAS

In [59]:
# Extraer la G de letras, la H. influenzae de bacterias 
letras[2]

'G'

In [60]:
bacterias[1]

'H.influenzae'

In [61]:
# CAMBIAR ELEMENTOS DE LISTA DE VARIOS DATOS
# cambiar elemento de mix (2 a 5)
mix[2] = 5

In [62]:
mix

[1, 'uno', 5, 'dos', 3, 'tres', [True, False]]

In [63]:
# cambiar una el nombre incompleto en bacterias por V. cholerae
bacterias[5]

'. pallidum'

In [64]:
bacterias[5] = "Vibrio cholerae"

In [65]:
bacterias[5]

'Vibrio cholerae'

In [66]:
# Invertir orden de una lista
# usamos nuestra variable numeros
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
numeros[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Lista de listas

In [97]:
# crear listas de listas
lista_random = [numeros, letras, cadena, mix, bacterias]
variantes = [["palomero_toluquenio", "palomero_jalisco"], ["gordo", "blando"]]

In [71]:
lista_random

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 ['A', 'C', 'G', 'T'],
 ['Adenina', 'Citosina', 'Guanina', 'Timina'],
 [1, 'uno', 5, 'dos', 3, 'tres', [True, False]],
 ['S. pyogenes',
  'H.influenzae',
  'S. pneumoniae',
  'N. gonorrhoeae',
  'N. meningitidis',
  'Vibrio cholerae',
  'L. acidophilus',
  'S. mutans']]

In [72]:
# Acceder a un elemento de la lista en las bacterias en lista_random
lista_random[4][5]

'Vibrio cholerae'

In [73]:
# Extraer primera lista y el primer elemento
# de la lista variantes (usar 0 pq asi es en Python)
variantes[0][0]

'palomero_toluquenio'

In [74]:
# extraer solo la p del primer elemento anterior
variantes[0][0][0]

'p'

### Funciones integradas para listas

In [92]:
# llamamos a nuestra lista mix
mix

[1, 'uno', 2, 'dos', 3, 'tres', [True, False]]

In [89]:
# len(): muestra el número de elementos de una lista
len(mix)

7

In [90]:
# append(): Agrega elementos a una lista
# Agregamos N a letras 
letras

['A', 'C', 'G', 'T']

In [93]:
letras.append("N")
print(letras)

['A', 'C', 'G', 'T', 'N', 'N']

In [98]:
# agregar elemento a variantes
variantes.append("bofo")
print(variantes)

[['palomero_toluquenio', 'palomero_jalisco'], ['gordo', 'blando'], 'bofo']

In [100]:
# contar elementos de variantes
len(variantes)

3

## Diccionarios
Estructura de datos que permite almacenar datos como enteros, cadenas, listas e incluso funciones. Cada elemento (`value`/`valor`) tiene un identificador único (`clave`/`key`): 

Sintaxis: 

    diccionario = {'clave': 'valor'}

In [102]:
# generar un diccionario
genes = {"gen1": "ATCGTAGC",
         "gen2": "TCTAGTACG",
         "gen3": "TGCATGATC"}

In [111]:
# conocer elementos 
genes.items()

dict_items([('gen1', 'ATCGTAGC'), ('gen2', 'TCTAGTACG'), ('gen3', 'TGCATGATC')])

In [107]:
# conocer claves de diccionarios
genes.keys()

dict_keys(['gen1', 'gen2', 'gen3'])

In [109]:
# conocer valores de diccionarios
genes.values()

dict_values(['ATCGTAGC', 'TCTAGTACG', 'TGCATGATC'])

In [112]:
# extraer valor basando en clave
genes["gen1"]

'ATCGTAGC'

In [114]:
# Agregar un valor a un diccionario
genes["gen4"] = "GTCTAGAGT"

In [115]:
genes

{'gen1': 'ATCGTAGC',
 'gen2': 'TCTAGTACG',
 'gen3': 'TGCATGATC',
 'gen4': 'GTCTAGAGT'}

## Bash on Python Notebooks (or Google Collab)
Just use ! or %

In [11]:
!echo "hello"

hello

In [13]:
!ls

jupyter-py-practice.ipynb

In [15]:
!pwd

/home/josue/bioinfo_projects/pynb

In [19]:
!ls -lh ..

total 28K
drwxrwx--- 5 josue vboxsf 4.0K sep 20 16:17 bioinfo-learning
drwxrwxr-x 4 josue josue  4.0K sep 17 21:02 git-projects
drwxrwxr-x 3 josue josue  4.0K oct 18 23:00 natam_talk
drwxrwxr-x 2 josue josue  4.0K nov  6 23:11 nextflow-training
drwxrwxr-x 4 josue josue  4.0K sep 22 20:56 plasmids_project
drwxrwxr-x 3 josue josue  4.0K nov 20 22:44 pynb
drwxrwxr-x 2 josue josue  4.0K jul 15 00:39 rna-seq_learning